export LOGLEVEL=DEBUG
export INFLUXDB_ENDPOINT='localhost:8086'
export INFLUXDB_USER='smonit'
export INFLUXDB_PASSWORD='vieh6Eyie%'
export INFLUXDB_DB='smonit'
export REDIS_HOST='localhost'
export SCHEDULER_INTERVAL=5 # Minutes
